
snippet mit "MIT License Copyright" bm
//
//               Copyright (c) `date +%Y` Mihăiţă Bişog.
// Distributed under the MIT License. See accompanying file LICENSE.
//


$0
endsnippet


snippet namespace "namespace ... {" bm
namespace ${1:<namespace_name>} {


$0


} // namespace $1
endsnippet


snippet struct "struct ... {" bm
struct ${1:<struct_name>} {
    ${0}
};

endsnippet
